<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://kit.fontawesome.com/77be18f3bb.js" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center justify-between">
            <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <i class="fa-solid fa-paw fa-2xl text-indigo-500"></i>
                <span class="ml-3 text-xl">Cat Community</span>
            </a>
            {% if app.user %}
                <div>
                    <a href="{{ path('user_profil') }}" class="btn-primary">Mon profil</a>
                    <a href="{{ path('user_logout') }}" class="btn-primary">Deconnexion</a>
                </div>
            {% endif %}
        </div>
    </header>
        {% block body %}{% endblock %}
    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <i class="fa-solid fa-paw fa-2xl text-indigo-500"></i>
                <span class="ml-3 text-xl">Cat Community</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2020 Cat Community —
                <a href="https://github.com/gregory-lebl" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">Make with <i class="fa-solid fa-heart text-red-500"></i> by Grégory</a>
            </p>
        </div>
    </footer>
    </body>
</html>
